.text-content {
    line-height: 1.5em;
}

.abstract a {
    color: #00467f;
}

.abstract a:hover {
    color: #d5df3e;
}

.method_summary {
    margin: 15px;
}

.method_summary img {
    display: inline-block;
    vertical-align: top;
}

.method_summary span {
    display: inline-block;
    padding: 0 15px 0 15px;
    width: 600px;
}

.algorithm_overview {
    margin: 15px;
}

.algorithm_overview img {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.algorithm_overview span {
    display: inline-block;
    text-align: left;
    width: 430px;
}

